Xft.dpi: 192
Xcursor.size: 48
Xcursor.theme: Adwaita
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintsfull
!Xft.hintstyle: hintslight
!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------


!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

!URxvt.depth:                32
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.lineSpace:            0
! Fonts
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
URxvt.font:xft:xos4 Terminus:size=12:style=Regular,xft:WenQuanYi Micro Hei:size=10:style=Regular
URxvt*boldFont: xft:xos4 Terminus:size=12:style=Bold,xft:WenQuanYi Micro Hei:size=10:style=Regular

URxvt*fading: 30
URxvt*fadeColor: #000000
! Fix font space
URxvt*letterSpace: 0

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,close-gracefully

URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          true
!URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

!!Source http://github.com/altercation/solarized

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
!URxvt.depth:32
!URxvt.background:[95]#2E3440
URxvt.background:#2E3440
